/* TABLET */

@media screen and (max-width:768px) {
    .container {
           max-width: 768px;
           width: 100%;
        }
}

/* MOBILE */

@media screen and (max-width:480px) {
    .container {
        max-width: 480px;
        width: 100%;
    }

    .row {
        flex-direction: column;
        align-items: center;
    }

    .why-us {
        background-color: #222;
        padding-top: 3rem;
        margin-bottom: 0;
    }

    .steps {
        margin-bottom: 0;
    }
}

/* BONUS */

@media screen and (max-width:1140px) {
    .container {
        max-width: 1140px;
        width: 100%;
    }    
}